body{
  background-image: url('https://previews.123rf.com/images/bettystrange/bettystrange1611/bettystrange161100083/67488265-cena-establece-el-patr%C3%B3n-transparente-cucharas-y-tenedores-de-fondo-fondo-moderno-de-dise%C3%B1o-del-men%C3%BA-restauran.jpg');
}



.example-card {
  width: 1000px;
  left: 500px;

}

.search{
  padding-left: 800px;
  padding-top: 70px;
  width: 1000px;
  left: 500px;
}

.example-header-image {
  background-image: url('https://lh3.googleusercontent.com/proxy/LmVIsm9q4eSk-Qdc4LZOC8Wlk38U7ju6eGyzFgZDsDtTZSc_4mXB-f-Lk0w9yAVIqGgMGlAnu31YrzxmiLJfs1aXA_-EqPF0XLG_s1AIeksgHU_Z0qXKr6sxl1h0BDARUqLQmDKkf2Y');
  background-size: cover;
}
